footer {
    display: flex;
    font-size: 3vw;
    justify-content: center;
    gap: 3vw;
    padding-top: 2%;
}
p {
    margin: 1.5em 0em;
}
@media (min-width: 768px) {
    footer {
        font-size: 18px;
        gap: 30vw;
        padding-top: 1%;
    }
}