@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap');
.about-me-container {
    font-family: 'M PLUS 1p', sans-serif;
    padding: 5%;
    color: black
}
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;600&display=swap');
.about-me-title-text {
    font-family: 'Mitr', sans-serif;
    padding: 1% 3%;
    display: flex;
    font-size: 10vw;
}
/* .about-me-title {
    display: flex
} */